# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
jamsin/
memoir_grid/
*sig_search*

test_injection/data/background/*.gwf

test_injection/significance/*.txt